* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: .2s;
	transition: .2s;
}

*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: .2s;
	transition: .2s;
}

*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: .2s;
	transition: .2s;
}

a {
	text-decoration: none;
	color: #fff;
}

html, body, .wrapper {
	height: 100%;
	min-height: 570px;
	max-height: 2000px;
	min-width: 480px;
}

body {
	font-family: "roboto", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	margin: 0;
}

i {
	font-family: fa;
}

.section {
	height: 100%;
}

li {
	list-style: none;
}

.section_title {


}