.wrapper .menu .inner {
	color: #fff;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	z-index: 999;
}

.wrapper .menu ul {
	padding: 5px;
	max-width: 1170px;
	margin: auto;
	
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.wrapper .menu ul li{
	padding: 3px 5px;
	position: relative;
	cursor: pointer;
}

.wrapper .menu ul li:after {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	top: 100%;
	left: -10%;
	background: #fff;
}

.wrapper .menu ul li:hover:after {
	width: 120%;
}

.wrapper .menu .hamburger {
	top: 20px;
	left: 20px;
	position: fixed;
	z-index: 999999;
	display: none;
	cursor: pointer;
}

.wrapper .menu .hamburger:before {
	content: '';
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.5);
	top: -106px;
	left: -110px;
	z-index: -1;
}

.wrapper .menu .hamburger div {
	height: 2px;
	width: 22px;
	background: #fff;
	margin-top: 6px;
	-webkit-transform-origin: left;
	transform-origin: left;
}

.wrapper .menu .clicked .top {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.wrapper .menu .clicked .mid {
	opacity: 0;
}

.wrapper .menu .clicked .bottom {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.wrapper .header {
	width: 100%;
	margin: auto;
	padding: 30px 15px 0 15px;
	color: #fff;
	background-image: url(images/header.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


.wrapper .header .contacts {
	max-width: 1170px;
	margin-top: 20px;
	
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.wrapper .header .contacts .email {
	margin-left: 15px;
}

.wrapper .header .bottom_panel {
	height: 95%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 30px 0;
}

.wrapper .header .logo {
	display: table;
	width: 140px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	text-transform: uppercase;
	background: #fff;
	color: #271ff8;
	font-size: 1.300256em;
	margin: 0 auto;
	-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
	border-radius: 2px;
}

.wrapper .header .title {
	text-align: center;
	font-size: 3.5em;
	line-height: 1.2em;
	padding-bottom: 50px;
}

.wrapper .header .title span{
	font-weight: 100;
}

.wrapper .header .arrow {
	cursor: pointer;
	width: 70px;
	height: 70px;
	margin: 0 auto 30px auto;
	background: #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
	border-radius: 2px;
}

.wrapper .header .arrow:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transform: scale(.98) rotate(45deg);
	transform: scale(.98) rotate(45deg);
}

.wrapper .header .arrow .tick {
	height: 40%;
	width: 40%;
	margin: 30% auto;
	border-right: 2px solid #271ff8;
	border-bottom: 2px solid #271ff8;
}