@media screen and (max-width: 910px) {
	
	.wrapper .menu .inner {
		display: none;
		font-size: 1.4em;
	}
	
	.wrapper .menu ul {
		
		padding: 20px 0;
		
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	
	.wrapper .menu .inner ul li{
		margin: 20px;
	}
	
	.wrapper .menu .hamburger {
		display: block;
	}
	
	.wrapper .header .contacts {
		padding-top: 20px;
	}
	
	.wrapper .section_3 .calculator .submit_and_reset {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	
	.wrapper .section_3 .calculator .submit_and_reset input {
		width: 70%;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 1440px) {
	
	.wrapper .section_1 .inner {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	
	.wrapper .section_1 .rigth {
		width: 70%
	}
	
	.wrapper .section_1 .left {
		height: 100%;
		padding-bottom: 0;
	}
	
	.wrapper .section_1 .right .name,
	.wrapper .section_1 .right .director{
		text-align: left;
	}
	
}


@media screen and (max-width: 1200px) {
	
	.wrapper .header .logo {
		width: 100px;
		height: 100px;
		line-height: 100px;
		font-size: 0.9em;
	}
	
	.wrapper .header .title {
		font-size: 2.5em;
	}
	
}



@media screen and (max-height: 780px) {
	
	.section_4 .inner .cards .card:nth-child(n) {
		height: 90%;
	}
	
}

@media screen and (max-height: 700px) {
	
	.wrapper .section_2 .inner .box .icon {
		font-size: 3em;
	}
	
	.wrapper .section_2 .inner .box .icon .name {
		font-size: 1.2em;
	}

	.wrapper .section_2 .inner .box:nth-child(2) .icon {
		font-size:  1.05em;
		line-height: 25px;
		letter-spacing: 3px
	}
	
	.section_4 .inner .cards .card .name {
		width: 110px;
		height: 110px;
		line-height: 110px;
		font-size: 1em;
	}
	
	.section_4 .inner .cards .card .description .list  {
		padding: 30px 40px;
		line-height: 25px;
	}
	
	.section_4 .inner .cards .card .description .price {
		font-size: 1.1em;
	}
	
	@media screen and (max-width: 805px) {
		
		.wrapper .section_2 .inner .box ul {
			display: none;
		}
		
		.wrapper .section_2 .inner .box .icon .name {
			font-size: 1.4em;
		}

		.wrapper .section_2 .inner .box .icon {
			font-size: 4em;
		}
		
		.wrapper .section_2 .inner .box:nth-child(2) .icon {
			font-size:  1.4em;
			line-height: 33px;
			letter-spacing: 4px
		}
		
	}
	
}

@media screen and (max-width: 510px) {
	
	.wrapper .section_3 .calculator .calc_box .category {
		width: 100%;
	}
	
	.wrapper .section_3 .calculator .calc_box .category:hover {
		-webkit-transform: scaleY(.98);
		transform: scaleY(.98);
	}
	
}

@media screen and (max-width: 550px) {
	
	.section_4 .inner .cards .card .name {
		width: 110px;
		height: 110px;
		line-height: 110px;
		font-size: 1em;
	}
	
	.section_4 .inner .cards .card .description .list  {
		padding: 30px 40px;
		line-height: 25px;
	}
	
	.section_4 .inner .cards .card .description .price {
		font-size: 1.1em;
	}
	
}


@media screen and (max-width: 800px) {
	
	.section_4 {
		height: auto;
	}
	
	.section_4 .inner .cards {
		height: auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		padding: 2% 3% 5% 3%;
	}
	
	.section_4 .inner .title {
		text-align: center;
		height: auto;
		padding: 70px 10px 30px 10px;
	}
	
	.section_4 .inner .cards .card {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		
		padding: 0;
		height: 250px;
		width: 100%;
		margin-bottom: 20px;
	}
	
	.section_4 .inner .cards .card .name {
		margin: 50px 40px;
	}
	
	.section_4 .inner .cards .card .description {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	
	.section_4 .inner .cards .card .description .list {
		
		margin: 0;
		padding: 0;
		line-height: 30px;
	}
	
	.section_4 .inner .cards .description .price {
		position: absolute;
		bottom: 20px;
		right: 0;
	}
	
}


@media screen and (max-width: 1024px) {
	
	.wrapper .section_1 .inner{
		display: block;
		padding: 40px 30px;
	}
	
	.wrapper .section_1 .left {
		width: 30%;
		padding: 0;
		float: left;
		height: auto;
	}
	
	.wrapper .section_1 .right {
		width: auto;
	}
	
	@media screen and (min-height: 700px) {
		
		.wrapper .section_1 .right .name,
		.wrapper .section_1 .right .director{
			text-align: center;
		}
		
		.wrapper .section_1 .inner {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;

			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;

			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;

			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
	}
	
}


@media screen and (max-width: 680px) {
	
	.wrapper .section_1 {
		height: auto;
	}
	
}




