.section_2_1 .inner {
	max-width: 1170px;
	margin: auto;
	padding-bottom: 60px;
}

.section_2_1 .inner .title {
	font-size: 2.6em;
	font-weight: bold;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 30px;
}

.section_2_1 .inner ul {
	padding-left: 18%
}

.section_2_1 .inner ul li {
	margin: 70px 0;
}

.section_2_1 .inner ul li .bef {
	position: relative;
	float: left;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #4444ff;
	margin: 20px 20px 30px 0;
}

.section_2_1 .inner ul li:nth-child(1) .bef:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 200%;
	background: #4444ff;
	left: 24px;
	top: 100%;
}

.section_2_1 .inner ul li:nth-child(2) .bef:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 200%;
	background: #4444ff;
	left: 24px;
	bottom: 100%;
}

.section_2_1 .inner ul li:nth-child(2) .bef:after {
	content: '';
	position: absolute;
	width: 2px;
	height: 200%;
	background: #4444ff;
	left: 24px;
	top: 100%;
}

.section_2_1 .inner ul li:nth-child(3) .bef:after {
	content: '';
	position: absolute;
	width: 2px;
	height: 200%;
	background: #4444ff;
	left: 24px;
	bottom: 100%;
}

.section_2_1 .inner ul li p {
	line-height: 30px;
	font-size: 1.2em;
	padding: 30px;
}